<div class="container">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">
            #
          </th>
          <th scope="col">
            Exchange Date
          </th>
          <th scope="col">
            Rate
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of result">
          <td>
            {{ item.id }}
          </td>
          <td>
            {{ item.exchangedate }}
          </td>
          <td>
            {{ item.rate }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
