<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div
    class="form-data"
    ngModelGroup="formData"
    #formData="ngModelGroup">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputStart">Start</label>
        <input 
          type="date" 
          class="form-control" 
          id="inputStart" 
          placeholder="Start"
          ngModel
          name="inputStart"
          required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputEnd">End</label>
        <input 
          type="date" 
          class="form-control" 
          id="inputEnd" 
          placeholder="End"
          ngModel
          name="inputEnd"
          required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputCur">Currency</label>
        <select 
          id="inputCur" 
          class="form-select"
          [ngModel]="defaultCurrency"
          name="currency">
            <option>EUR</option>
            <option>USD</option>
        </select>
      </div>
    </div>

    <button
        type="submit"
        class="btn btn-success"
        [disabled]="!f.valid"
        (click)="chartBtnClick()"
        >Chart</button>
        <button
        type="submit"
        class="btn btn-success"
        (click)="tableBtnClick()"
        [disabled]="!f.valid"
        >Table</button>
  </div>
</form>

<div class="container" *ngIf="!selectionIsSubmitted">RESULTS WILL BE HERE...</div>

<app-chart *ngIf="chartBtnIsClicked && selectionIsSubmitted" [exchangeData]="exchangeData"></app-chart>

<app-table *ngIf="tableBtnIsClicked && selectionIsSubmitted" [exchangeData]="exchangeData"></app-table>
